# Dependencies
node_modules
.pnp
.pnp.js
package-lock.json
yarn.lock
pnpm-lock.yaml

# Local env files
.env
.env.*
.dev.vars
!.env.example
!.env.test

# Turbo
.turbo

# Build Outputs
.cloudflare
.svelte-kit
.wrangler
build
dist

# Logs
logs/
*.log

# Misc
.DS_Store
Thumbs.db
*.pem
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
worker-env.d.ts
apps/api/src/lib/database/migrations