@import "./fonts.css";
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-heading: "Playwrite DK Loopet Variable", cursive;

  --grid-template-rows-layout: auto 1fr auto;
  --grid-template-columns-layout: auto 1fr auto;
}

@layer base {
  html {
    &[data-theme="light"] {
      scrollbar-color: var(--color-stone-400) var(--color-stone-100);
      color-scheme: only light;

      * {
        scrollbar-color: var(--color-stone-400) transparent;
      }
    }

    &[data-theme="dark"] {
      scrollbar-color: var(--color-stone-600) var(--color-stone-900);
      color-scheme: only dark;

      * {
        scrollbar-color: var(--color-stone-600) transparent;
      }
    }
  }

  body {
    @apply bg-stone-100 text-stone-950 dark:bg-stone-900 dark:text-stone-50;

    > div#app {
      @apply mx-auto grid min-h-svh max-w-7xl grid-rows-layout px-2;

      > * {
        @apply col-start-1;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@custom-variant hocus {
  &:hover {
    @slot;
  }

  &:focus {
    @slot;
  }
}
