name: "Deploy: Prod"

on:
  push:
    tags:
      - "v*"

concurrency:
  group: deploy_prod
  cancel-in-progress: true

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yaml
    permissions:
      contents: read
    secrets:
      TOKEN_ENCRYPTION_KEY: ${{ secrets.TOKEN_ENCRYPTION_KEY }}
      TOKEN_SIGNING_KEY: ${{ secrets.TOKEN_SIGNING_KEY }}
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
      TURNSTILE_SECRET_KEY: ${{ secrets.TURNSTILE_SECRET_KEY }}

  deploy-prod:
    needs: call-ci
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-deploy_prod-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-deploy_prod-
      - uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: 24
      - run: pnpm turbo run db:apply -- -e prod --remote
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      - run: pnpm turbo run deploy -- -e prod
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
