name: "Deploy: Dev"

on:
  push:
    branches:
      - "main"

concurrency:
  group: deploy_dev
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/_deploy.yaml
    permissions:
      contents: read
    with:
      environment: dev
    secrets:
      TOKEN_ENCRYPTION_KEY: ${{ secrets.TOKEN_ENCRYPTION_KEY }}
      TOKEN_SIGNING_KEY: ${{ secrets.TOKEN_SIGNING_KEY }}
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
      TURNSTILE_SECRET_KEY: ${{ secrets.TURNSTILE_SECRET_KEY }}
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
